marcas/XML/DTD/tarea5/UD3_T5_tarefa5b_davidBesada.dtd

<!ELEMENT reservas (reserva*)>
<!ATTLIST reservas ano CDATA #REQUIRED>
<!ELEMENT reserva (data, evento?, (clienteEmpresa | clientePersoal))>
<!ATTLIST reserva
  local (Polideportivo | Local_Social) #REQUIRED
  bonificacion CDATA #IMPLIED>
<!ELEMENT data EMPTY>
<!ATTLIST data
  mes CDATA #REQUIRED
  dia CDATA #REQUIRED
  horario (mañá | tarde | día) "tarde">
<!ELEMENT evento (#PCDATA)>
<!ELEMENT clienteEmpresa (#PCDATA)>
<!ELEMENT clientePersoal (#PCDATA)>
