marcas/XML/Schema/tarea7/UD4_T7Bb_davidBesada.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <!-- Definición de los nombres completos -->
  <xs:complexType name="nombreCompletoType">
    <xs:sequence>
      <xs:element name="nome" type="xs:string"/>
      <xs:element name="apelido1" type="xs:string"/>
      <xs:element name="apelido2" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
