marcas/XML/Schema/tarea2b/UD4_T2B_tarefa2B_A_davidBesada.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" >
  <xs:element name="persona">
    <xs:complexType>
     <xs:sequence>
       <xs:element name="nombre" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
       <xs:element name="apellido" type="xs:string" minOccurs="2" maxOccurs="2"/>
       <xs:element name="fechanacimiento" type="xs:date" maxOccurs="1"/>
       <xs:element name="numerodocumento" type="xs:int"/>
       <xs:element name="trianero" type="xs:boolean"/>
     </xs:sequence>
   </xs:complexType>
  </xs:element>
</xs:schema>